<?xml version="1.0" encoding="UTF-8"?>

<robot name="jackal" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="wheel_front_right_link">
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <kp>1.0e7</kp>
        <kd>1</kd>
        <minDepth>1.0e-3</minDepth>
        <maxVel>2.0</maxVel>
        <fdir>1 0 0</fdir>
    </gazebo>

    <gazebo reference="wheel_front_left_link">
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <kp>1.0e7</kp>
        <kd>1</kd>
        <minDepth>1.0e-3</minDepth>
        <maxVel>2.0</maxVel>
        <fdir>1 0 0</fdir>
    </gazebo>

    <gazebo reference="wheel_back_right_link">
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <kp>1.0e7</kp>
        <kd>1</kd>
        <minDepth>1.0e-3</minDepth>
        <maxVel>2.0</maxVel>
        <fdir>1 0 0</fdir>
    </gazebo>

    <gazebo reference="wheel_back_left_link">
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <kp>1.0e7</kp>
        <kd>1</kd>
        <minDepth>1.0e-3</minDepth>
        <maxVel>2.0</maxVel>
        <fdir>1 0 0</fdir>
    </gazebo>

    <gazebo>
        <!-- checking which ros2 version we have  -->
        <xacro:if value="$(arg is_ignition)">
            <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
                <parameters>$(find jackal_playground)/config/jackal_controllers.yaml</parameters>
            </plugin>
        </xacro:if>

        <xacro:unless value="$(arg is_ignition)">
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin"></plugin>
                <parameters>$(find jackal_playground)/config/jackal_controllers.yaml</parameters>
        </xacro:unless>

    </gazebo>

</robot>