<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jackal">

    <ros2_control name="JackalSystem" type="system">

        <!-- ros2_control Gazebo -->

        <!-- ROS 2 Humble -->
        <xacro:if value="$(arg is_ignition)">
            <hardware>
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>
        </xacro:if>

        <!-- ROS 2 Iron or above -->
        <xacro:unless value="$(arg is_ignition)">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
        </xacro:unless>

        <joint name="wheel_front_right_joint">
            <command_interface name="velocity">
                <param name="min">-2</param>
                <param name="max">2</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="wheel_front_left_joint">
            <command_interface name="velocity">
                <param name="min">-2</param>
                <param name="max">2</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>    

        <joint name="wheel_back_right_joint">
            <command_interface name="velocity">
                <param name="min">-2</param>
                <param name="max">2</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>    
        
        <joint name="wheel_back_left_joint">
            <command_interface name="velocity">
                <param name="min">-2</param>
                <param name="max">2</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

    </ros2_control>
</robot>